In [2]:
# Import and configuration
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import numpy as np
import os
import pandas as pd

from config import *

In [3]:
# Load clean data from CSV
incident_data = pd.read_csv(incidents_clean_data_path, 
                            encoding="iso-8859-1", low_memory=False)
census_data = pd.read_csv(census_data_path, 
                          encoding="iso-8859-1", low_memory=False)

In [42]:
census_data.head()
census_data = census_data.rename(columns={"State":"State Name"})
census_data.head()

   State Name      2013      2014      2015      2016      2017
0     Alabama   4833722   4849377   4858979   4863300   4874747
1      Alaska    735132    736732    738432    741894    739795
2     Arizona   6626624   6731484   6828065   6931071   7016270
3    Arkansas   2959373   2966369   2978204   2988248   3004279
4  California  38332521  38802500  39144818  39250017  39536653

In [43]:
# Your code for geography-related analysis starts here
clean_incident_data = incident_data.loc[:,['Year','State Name',
                                        'Number of Killed',
                                        'Number of Injured'    
]]
clean_incident_data.head(5)

   Year      State Name  Number of Killed  Number of Injured
0  2013    Pennsylvania                 0                  4
1  2013      California                 1                  3
2  2013            Ohio                 1                  3
3  2013        Colorado                 4                  0
4  2013  North Carolina                 2                  2

In [44]:
#create group based on values in the year column
killed_data = clean_incident_data["Number of Killed"].value_counts()
injured_data = clean_incident_data["Number of Injured"].value_counts()

grouped_year_df = clean_incident_data.groupby('Year')

count_years = grouped_year_df['Year'].count()
count_years

Year
2013      278
2014    51854
2015    53579
2016    58763
2017    61401
2018    13802
Name: Year, dtype: int64

In [45]:
reduced_incident_pd = incident_data.iloc[:, [
    0, 1, 2, 3]]

del reduced_incident_pd['Number of Killed']
del reduced_incident_pd['Number of Injured']
reduced_incident_pd

        Year            State Name
0       2013          Pennsylvania
1       2013            California
2       2013                  Ohio
3       2013              Colorado
4       2013        North Carolina
5       2013              Oklahoma
6       2013            New Mexico
7       2013             Louisiana
8       2013            California
9       2013              Maryland
10      2013             Tennessee
11      2013              Missouri
12      2013             Louisiana
13      2013  District of Columbia
14      2013                  Ohio
15      2013             Tennessee
16      2013            California
17      2013              Illinois
18      2013             Louisiana
19      2013            California
20      2013              Delaware
21      2013                  Utah
22      2013            California
23      2013              Oklahoma
24      2013              Michigan
25      2013            California
26      2013               Georgia
27      2013             Louisiana
28      2013               Georgia
29      2013              Michigan
...      ...                   ...
239647  2018                 Maine
239648  2018  District of Columbia
239649  2018                Nevada
239650  2018            California
239651  2018                 Texas
239652  2018                 Texas
239653  2018                Nevada
239654  2018                Nevada
239655  2018            California
239656  2018              New York
239657  2018            California
239658  2018            California
239659  2018               Florida
239660  2018            California
239661  2018        North Carolina
239662  2018             Minnesota
239663  2018              Oklahoma
239664  2018              Missouri
239665  2018              Missouri
239666  2018              Missouri
239667  2018             Tennessee
239668  2018              Michigan
239669  2018             Wisconsin
239670  2018              Illinois
239671  2018            Washington
239672  2018             Louisiana
239673  2018             Louisiana
239674  2018             Louisiana
239675  2018                 Texas
239676  2018                 Maine

[239677 rows x 2 columns]

In [80]:
years = reduced_incident_pd.Year.unique()
years

array([2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [102]:
counts = reduced_incident_pd.groupby(['Year']).count()
counts
counts = pd.DataFrame(counts)

counts = counts.rename(columns={'State Name':'Total Incidents'})
counts.head()

totals = counts.sum(level=0)
counts

      Total Incidents
Year
2013              278
2014            51854
2015            53579
2016            58763
2017            61401
2018            13802

In [ ]:
plt.bar(ages, counts['M'], bottom=None, color='blue', label='M')
plt.bar(ages, counts['F'], bottom=counts['M'], color='pink', label='F')
plt.legend()
plt.xlabel('Ages')
plt.ylabel('Count')

for age,tot in zip(ages,totals.values.flatten()):
    plt.annotate('N={:d}'.format(tot), xy=(age+0.4, tot), xytext=(0,5), textcoords='offset points', ha='center', va='bottom')

In [97]:
year_counts = clean_incident_data["Year"].value_counts()
year_counts = year_counts.head()
year_counts = pd.DataFrame(year_counts)
year_counts = year_counts.reset_index()
year_counts = year_counts.rename(columns={'index':'Year', 'Year': 'Total Incidents'})
year_counts.head()
year_counts

year_counts = year_counts.sort_values("Year")
year_counts.head(5)

   Year  Total Incidents
3  2014            51854
2  2015            53579
1  2016            58763
0  2017            61401
4  2018            13802

In [110]:
plt.figure(figsize=(7,7))
plt.bar(x_axis, year_counts["Total Incidents"], color='b', alpha=0.4, align="edge")
plt.xticks(tick_locations, year_counts["Year"], rotation="vertical")

plt.xlim(0.10000, len(x_axis))
plt.ylim(0, max(year_counts["Total Incidents"])+15000)

plt.title("Total Incidents Nationwide by Year")
plt.xlabel("Year")
plt.ylabel("Total Incidents Count")

NameError: name 'xrange' is not defined

In [304]:
grouped_year_df = clean_incident_data.groupby(['Year'])

grouped_year_df = grouped_year_df.sum().head(10)

grouped_year_df['Total Incidents'] = grouped_year_df['Number of Killed'] + grouped_year_df['Number of Injured']
grouped_year_df.head()

      Number of Killed  Number of Injured  Total Incidents
Year
2013               317                979             1296
2014             12557              23002            35559
2015             13484              26967            40451
2016             15066              30580            45646
2017             15511              30703            46214

In [377]:
incident_data.columns

Index(['Year', 'State Name', 'Number of Killed', 'Number of Injured',
       'Incident Info', 'Latitude', 'Longitude', 'Participant Age',
       'Participant Age Group', 'Participant Gender',
       'Participant Relationship', 'Participant Status', 'Participant Type',
       'State Abbr'],
      dtype='object')

In [427]:
reduced_incident_pd = incident_data.iloc[:, [
    0, 1, 2, 3]]
reduced_incident_pd.head()

   Year      State Name  Number of Killed  Number of Injured
0  2013    Pennsylvania                 0                  4
1  2013      California                 1                  3
2  2013            Ohio                 1                  3
3  2013        Colorado                 4                  0
4  2013  North Carolina                 2                  2

In [438]:
reduced_incident_pd["Total Incidents"] = reduced_incident_pd["Number of Killed"] + reduced_incident_pd["Number of Injured"]

C:\Users\wgdav\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [449]:
# Create DataFrame total incident by year 2013
group_2013 = reduced_incident_pd.loc[reduced_incident_pd["Year"] == 2013]
group_2013.head()
del group_2013['Number of Killed']
del group_2013['Number of Injured']
group_2013.head()



state_incidents = group_state_2013["Total Incidents"].sum()
state_incidents.head()

AttributeError: 'numpy.int64' object has no attribute 'head'

In [68]:
state_counts = group_2013["State Name"].value_counts()

NameError: name 'group_2013' is not defined

In [448]:
group_2014 = reduced_incident_pd.loc[reduced_incident_pd["Year"] == 2014]
group_2014.head()
del group_2014['Number of Killed']
del group_2014['Number of Injured']
group_2014.head()

state_counts = group_2014["State Name"].value_counts()
state_counts 
group_state_2014 = group_2014.groupby(['State Name'])
group_state_2014.head()

state_incidents = group_state_2014["Total Incidents"].count()
state_incidents.head()

state_summary_2014 = pd.DataFrame({"Total Incident 2014": state_incidents})
state_summary_2014.head()

            Total Incident 2014
State Name
Alabama                    1318
Alaska                      146
Arizona                     556
Arkansas                    572
California                 3732

In [435]:
group_2015 = reduced_incident_pd.loc[reduced_incident_pd["Year"] == 2015]
group_2015.head()
del group_2015['Number of Killed']
del group_2015['Number of Injured']
group_2015.head()

state_counts = group_2015["State Name"].value_counts()
state_counts 
group_state_2015 = group_2015.groupby(['State Name'])
group_state_2015.head()

state_incidents = group_state_2015["Total Incidents"].sum()
state_incidents.head()

state_summary_2015 = pd.DataFrame({"Total Incident 2015": state_incidents})
state_summary_2015.head()

            Total Incident 2015
State Name
Alabama                     947
Alaska                      154
Arizona                     408
Arkansas                    400
California                 2821

In [436]:
group_2016 = reduced_incident_pd.loc[reduced_incident_pd["Year"] == 2016]
group_2016.head()
del group_2016['Number of Killed']
del group_2016['Number of Injured']
group_2016.head()


state_counts = group_2016["State Name"].value_counts()
state_counts 
group_state_2016 = group_2016.groupby(['State Name'])
group_state_2016.head()

state_incidents = group_state_2016["Total Incidents"].sum()
state_incidents.head()

state_summary_2016 = pd.DataFrame({"Total Incident 2016": state_incidents})
state_summary_2016.head()

            Total Incident 2016
State Name
Alabama                    1249
Alaska                      191
Arizona                     571
Arkansas                    541
California                 3161

In [437]:
group_2017 = reduced_incident_pd.loc[reduced_incident_pd["Year"] == 2017]
group_2017.head()
del group_2017['Number of Killed']
del group_2017['Number of Injured']
group_2017.head()


state_counts = group_2017["State Name"].value_counts()
state_counts 
group_state_2017 = group_2017.groupby(['State Name'])
group_state_2017.head()

state_incidents = group_state_2017["Total Incidents"].sum()
state_incidents.head()

state_summary_2017 = pd.DataFrame({"Total Incident 2017": state_incidents})
state_summary_2017.head()

            Total Incident 2017
State Name
Alabama                    1400
Alaska                      139
Arizona                     587
Arkansas                    653
California                 3376

In [452]:
combined_state_year = pd.merge(state_summary_2013, state_summary_2014, how='outer', on='State Name')
combined_state_year = pd.merge(combined_state_year , state_summary_2015, how='outer', on='State Name')
combined_state_year = pd.merge(combined_state_year , state_summary_2016, how='outer', on='State Name')
combined_state_year = pd.merge(combined_state_year , state_summary_2017, how='outer', on='State Name')
combined_state_year = pd.merge(combined_state_year , census_data, how='outer', on='State Name')
combined_state_year = combined_state_year.rename(columns={"2013":"Population 2013","2014":"Population 2014","2015":"Population 2015", "2016":"Population 2016", "2017": "Population 2017"})
combined_state_year.fillna(0, inplace=True)
combined_state_year.head(54)

,State Name,Total Incident 2013,Total Incident 2014,Total Incident 2015,Total Incident 2016,Total Incident 2017,Population 2013,Population 2014,Population 2015,Population 2016,Population 2017
0,Alabama,12.0,1318.0,947.0,1249.0,1400.0,4833722,4849377,4858979,4863300,4874747
1,Arizona,24.0,556.0,408.0,571.0,587.0,6626624,6731484,6828065,6931071,7016270
2,California,185.0,3732.0,2821.0,3161.0,3376.0,38332521,38802500,39144818,39250017,39536653
3,Colorado,13.0,556.0,458.0,506.0,499.0,5268367,5355866,5456574,5540545,5607154
4,Connecticut,15.0,583.0,421.0,426.0,382.0,3596080,3596677,3590886,3576452,3588184
5,Delaware,13.0,493.0,264.0,229.0,297.0,925749,935614,945934,952065,961939
6,District of Columbia,44.0,838.0,469.0,445.0,440.0,646449,658893,672228,681170,693972
7,Florida,58.0,3138.0,2343.0,2847.0,2751.0,19552860,19893297,20271272,20612439,20984400
8,Georgia,31.0,2032.0,1691.0,1405.0,1715.0,9992167,10097343,10214860,10310371,10429379
9,Illinois,92.0,3095.0,3510.0,5083.0,4588.0,12882135,12880580,12859995,12801539,12802023
10,Indiana,29.0,1203.0,1049.0,1185.0,1144.0,6570902,6596855,6619680,6633053,6666818
11,Kansas,20.0,381.0,317.0,375.0,416.0,2893957,2904021,2911641,2907289,2913123
12,Kentucky,13.0,977.0,655.0,787.0,791.0,4395295,4413457,4425092,4436974,4454189
13,Louisiana,60.0,1906.0,1399.0,1630.0,1733.0,4625470,4649676,4670724,4681666,4684333
14,Maryland,21.0,1266.0,1187.0,1177.0,1335.0,5928814,5976407,6006401,6016447,6052177
15,Michigan,71.0,1447.0,995.0,1085.0,1140.0,9895622,9909877,9922576,9928300,9962311
16,Minnesota,8.0,450.0,278.0,325.0,397.0,5420380,5457173,5489594,5519952,5576606
17,Mississippi,8.0,784.0,557.0,787.0,917.0,2991207,2994079,2992333,2988726,2984100
18,Missouri,48.0,1272.0,1413.0,1357.0,1530.0,6044171,6063589,6083672,6093000,6113532
19,Nebraska,4.0,347.0,236.0,219.0,199.0,1868516,1881503,1896190,1907116,1920076
20,Nevada,4.0,376.0,417.0,491.0,418.0,2790136,2839099,2890845,2940058,2998039
21,New Jersey,44.0,1521.0,740.0,951.0,938.0,8899339,8938175,8958013,8944469,9005644
22,New Mexico,9.0,320.0,275.0,255.0,266.0,2085287,2085572,2085109,2081015,2088070
23,New York,71.0,1903.0,1984.0,1691.0,1439.0,19651127,19746227,19795791,19745289,19849399
24,North Carolina,52.0,2165.0,1589.0,1781.0,1709.0,9848060,9943964,10042802,10146788,10273419
25,Ohio,40.0,2368.0,1841.0,2083.0,2217.0,11570808,11594163,11613423,11614373,11658609
26,Oklahoma,26.0,642.0,630.0,657.0,633.0,3850568,3878051,3911338,3923561,3930864
27,Pennsylvania,71.0,2267.0,1572.0,1776.0,1823.0,12773801,12787209,12802503,12784227,12805537
28,Rhode Island,8.0,189.0,101.0,98.0,90.0,1051511,1055173,1056298,1056426,1059639
29,South Carolina,23.0,1660.0,1121.0,1113.0,1186.0,4774839,4832482,4896146,4961119,5024369
30,Tennessee,43.0,1590.0,1416.0,1633.0,1693.0,6495978,6549352,6600299,6651194,6715984
31,Texas,65.0,3133.0,2491.0,2927.0,2734.0,26448193,26956958,27469114,27862596,28304596
32,Utah,5.0,217.0,169.0,156.0,180.0,2900872,2942902,2995919,3051217,3101833
33,Virginia,32.0,1273.0,1099.0,1449.0,1324.0,8260405,8326289,8382993,8411808,8470020
34,Washington,20.0,656.0,500.0,484.0,582.0,6971406,7061530,7170351,7288000,7405743
35,West Virginia,10.0,362.0,217.0,274.0,237.0,1854304,1850326,1844128,1831102,1815857
36,Wisconsin,4.0,1065.0,787.0,672.0,728.0,5742713,5757564,5771337,5778708,5795483
37,Alaska,0.0,146.0,154.0,191.0,139.0,735132,736732,738432,741894,739795
38,Arkansas,0.0,572.0,400.0,541.0,653.0,2959373,2966369,2978204,2988248,3004279
39,Hawaii,0.0,48.0,39.0,51.0,28.0,1404054,1419561,1431603,1428557,1427538
40,Idaho,0.0,115.0,76.0,78.0,81.0,1612136,1634464,1654930,1683140,1716943
41,Iowa,0.0,569.0,253.0,264.0,300.0,3090416,3107126,3123899,3134693,3145711
42,Maine,0.0,183.0,62.0,55.0,69.0,1328302,1330089,1329328,1331479,1335907
43,Massachusetts,0.0,968.0,491.0,580.0,584.0,6692824,6745408,6794422,6811779,6859819
44,Montana,0.0,128.0,72.0,64.0,74.0,1015165,1023579,1032949,1042520,1050493
45,New Hampshire,0.0,230.0,48.0,60.0,53.0,1323459,1326813,1330608,1334795,1342795
46,North Dakota,0.0,110.0,51.0,51.0,48.0,723393,739482,756927,757952,755393
47,Oregon,0.0,398.0,316.0,263.0,269.0,3930065,3970239,4028977,4093465,4142776
48,South Dakota,0.0,72.0,53.0,55.0,40.0,844877,853175,858469,865454,869666
49,Vermont,0.0,170.0,33.0,23.0,20.0,626630,626562,626042,624594,623657
50,Wyoming,0.0,64.0,36.0,30.0,22.0,582658,584153,586107,585501,579315
51,Puerto Rico,0.0,0.0,0.0,0.0,0.0,3615086,3548397,3474182,3411307,3004279

In [458]:
combined_state_year.to_csv("../Output/Incident_State_year.csv", index=True, header=True)

In [307]:
#sum incidents
grouped_year_df = clean_incident_data.groupby(['Year'])

grouped_year_df = grouped_year_df.sum().head(10)

grouped_year_df['Total Incidents'] = grouped_year_df['Number of Killed'] + grouped_year_df['Number of Injured']
grouped_year_df.head()

      Number of Killed  Number of Injured  Total Incidents
Year
2013               317                979             1296
2014             12557              23002            35559
2015             13484              26967            40451
2016             15066              30580            45646
2017             15511              30703            46214